.exit{
    font-size: 2rem;
    text-align: right;
}

.exit a{
    color: #00FF7F;
}

.exit a:hover{
    color:rgba(0, 255, 128, 0.712);
}

.contact{
    background-color: rgba(25, 25, 25, 0.5);
    width: 32rem;    
    height: 36rem;    
    padding: 2.5rem;
    margin: auto;
    margin-top: 12rem;  
    text-transform: uppercase; 
    text-align: center;
}

.contact-header{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact-text{
    word-spacing: 0.1rem;
    line-height: 2rem;
    text-align: center;  
}

.text-input{
    color: #00FF7F;
    background-color: rgba(25, 25, 25, 0.7);
    text-align: center;
    text-transform: uppercase;
    line-height: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 30rem;
}

.send-button{
    text-transform: uppercase;
    color: #00FF7F;
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}


#message{
    text-align: left;
    line-height: 1rem;
}


