.contact{
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 1rem;
    width: 35rem;    
    height: 40rem;    
    padding: 1.5rem;
    margin: auto;
    top: 0rem;  
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase; 
    text-align: center;
    position: relative;
}

.contact-header{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact-text{
    word-spacing: 0.1rem;
    line-height: 2rem;
    text-align: center;  
}

.label-header{
    font-size: 1.25rem;
}

.text-input{
    color: #00FF7F;
    background-color: rgba(25, 25, 25, 0.7);
    text-align: center;
    text-transform: uppercase;
    line-height: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 30rem;
}

.text-input:hover{
    background-color: rgba(41, 41, 41, 0.8);
}

.send-button{
    text-transform: uppercase;
    color: #00FF7F;
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.send-button:hover{
    background-color: rgba(41, 41, 41, 0.8);
}

#message{
    text-align: left;
    line-height: 1rem;
    padding-top: 0.1rem;
}


/*Media screen min-width 768px

@media only screen and (min-width: 768px){
    .contact{
        width: 25rem;    
        height: 32rem; 
        top: 0;
        margin-top: 2rem; 
        margin-bottom: 2rem;  
    }
}*/


/*Media screen max-width 767px*/

@media only screen and (max-width: 767px){
    .contact{
        width: 18rem;    
        height: 32rem; 
        top: 0;
        margin-top: 2rem; 
        margin-bottom: 2rem;  
    }
    
    .contact-header p{
        font-size: 1.25rem;
    }

    .text-input{
        font-size: 0.75rem;
        line-height: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
        width: 15rem;
    }

    .label-header{
        font-size: 0.75rem;
    }

    .send-button{
        font-size: 0.75rem;
    }
}