.game-symbol{
    text-align: center;
    color: rgb(14, 91, 207);
    cursor: pointer;
}

.game-symbol i{
    border-radius: 50%;
    background: rgba(25, 25, 25, 0.6);
}

.buttons{
    text-align: center;
}

.buttons button:focus{
    outline: none;
}

.icon-effect{
    box-shadow: 0 0 1rem 1rem rgba(0, 255, 128, 0.753);
}

/*Activates when icons are clicked*/
.rotate{
    transition: 800ms;
    transform: rotate(360deg);
}

.hide-button{
    display: none;
}

#level{
    text-align: center;
}

#start, #continue, #retry, #back, #volume{
    color: rgb(64, 175, 240);
    background-color: rgba(25, 25, 25, 0.8);
}

#rocket{
    color: rgb(218, 167, 26);
}

#astronaut{
    color: rgb(233, 91, 66);
}

#jedi{
    color: rgb(128, 66, 200);
}

#robot{
    color: rgb(44, 177, 44);
}

#spock{
    color: rgb(52, 116, 189);
}



/*Media screen min-width 577px*/

@media only screen and (min-width: 577px){ 
    .container{
    padding-top: 10rem;
    }

    .game-symbol{
        font-size: 4.5rem;
    }

    .game-symbol i{
        width: 7.5rem;
        height: 7.5rem;
        padding-top: 1.5rem;
    }

    .buttons{
        font-size: 2rem;
    }

    #level{
    padding-top: 2rem;
    padding-bottom: 3rem;
    }   
}

/*Media screen max-width 576px*/

@media only screen and (max-width: 576px){ 
    .container{
    padding-top: 5rem;
    }

    .game-symbol{
        font-size: 3.5rem;
    }

    .game-symbol i{
        width: 5.5rem;
        height: 5.5rem;
        padding-top: 1rem;
    }

    .buttons{
        font-size: 1.25rem;
    }

    #level{
    padding-top: 2rem;
    padding-bottom: 3rem;
    }
}

/*Media screen max-height 450px*/

@media only screen and (max-height: 450px){ 
    .container{
    padding-top: 1rem;
    }

    .game-symbol{
        font-size: 3rem;
    }

    .game-symbol i{
        width: 4.5rem;
        height: 4.5rem;
        padding-top: 0.5rem;
    }

    .buttons{
        font-size: 1rem;
    }

    #level{
    font-size: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    }
}