.container{
    padding-top: 10rem;
}

.buttons{
    text-align: center;
    text-decoration: none;  
}

.game-symbol{
    text-align: center;
    color: rgb(14, 91, 207);
    font-size: 5rem;
    cursor: pointer;
}

.hide-button{
    display: none;
}

#level{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

#start, #continue, #retry, #back, #volume{
    color: rgb(64, 175, 240);
    background-color: rgba(25, 25, 25, 0.8);
}

.buttons button:focus{
    outline: none;
}

#rocket{
    color: rgb(218, 167, 26);
}

#astronaut{
    color: rgb(236, 90, 90);
}

#jedi{
    color: rgb(128, 66, 200);
}

#robot{
    color: rgb(37, 202, 92);
}

#spock{
    color: rgb(35, 53, 219);
}
