.container{
    padding-top: 10rem;
}

.buttons{
    text-align: center;
}

.buttons button:focus{
    outline: none;
}

.game-symbol{
    text-align: center;
    color: rgb(14, 91, 207);
    font-size: 5rem;
    cursor: pointer;
}

.game-symbol i{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    padding-top: 2rem;
    background: rgba(25, 25, 25, 0.6);
    /*box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.625rem rgb(184, 184, 184);*/
}

.icon-effect{
    box-shadow: 0 0 1rem 1rem rgba(0, 255, 128, 0.753);
}

/*Activates when icons are clicked*/
.game-symbol.rotate{
    transition: 800ms;
    transform: rotate(360deg);
}

.hide-button{
    display: none;
}

#level{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

#start, #continue, #retry, #back, #volume{
    color: rgb(64, 175, 240);
    background-color: rgba(25, 25, 25, 0.8);
}

#rocket{
    color: rgb(218, 167, 26);
}

#astronaut{
    color: rgb(233, 91, 66);
}

#jedi{
    color: rgb(128, 66, 200);
}

#robot{
    color: rgb(44, 177, 44);
}

#spock{
    color: rgb(52, 116, 189);
}
