.instructions{
    background-color: rgba(25, 25, 25, 0.6);
    width: 30rem;    
    height: 18rem;    
    padding: 1.5rem;
    margin: auto;
    margin-top: 12rem;
    text-align: center;    
    text-transform: uppercase; 
}

.instructions-text{
    word-spacing: 0.1rem;
    line-height: 1.25rem;
}