.instructions{
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 1rem;  
    padding: 2.5rem;
    margin: auto;
    text-transform: uppercase; 
    position: relative;
}

.instructions-header{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.instructions-text{
    word-spacing: 0.1rem;
    line-height: 2rem;
    text-align: left;  
}

/*Media screen min-width 768px*/

@media only screen and (min-width: 768px){
    .instructions{
        width: 45rem;    
        height: 30rem;    
        top: 6rem;  
    }
}

/*Media screen max-width 767px*/

@media only screen and (max-width: 767px){
    .instructions{
        width: 30rem;    
        height: 40rem;    
        top: 1rem;  
    }
}

/*Media screen max-width 576px*/

@media only screen and (max-width: 576px){
    .instructions{
        width: 20rem;    
        height: 30rem;    
        top: 1rem;  
    }

    .instructions-header{
        font-size: 1.25rem;
    }

    .instructions-text{
        line-height: 1.5rem;
    }

    .instructions-text p{
        font-size: 0.75rem;
    }
}

/*Media screen max-height 400px*/

@media only screen and (max-height: 400px){
    .instructions{
        width: 33rem;    
        height: 19rem;    
        top: 0.5rem;  
    }

    .instructions-header{
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .instructions-text p{
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
}

