@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap:100,200,300,400,500,600,700');


/*General text font & size, color, heading etc. to prevent repeating*/

.sm-font{
    font-size: 0.75rem;
}

.md-font{
    font-size: 1.25rem;
}

.lg-font{
    font-size: 2rem;
}

.xl-lg-font{
    font-size: 2.5rem;
}


/*Background image*/

html, body{
    background-image: url("../images/image-earth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: #00FF7F;
    font-family: 'Orbitron', sans-serif;
}